<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="AkkaTest" packages="">
    <Appenders>
        <File name="FileLogger" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>[%-5level] %X{akkaTimestamp} [%t] %c{2} %X{akkaSource} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>