<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="SecureP2P">
    <Appenders>
        <File name="FileLogger" fileName="logs/app.log" append="false">
            <PatternLayout>
                <!-- <Pattern>[%-5level] %X{akkaTimestamp} [%t] %c{2} %X{akkaSource} - %msg%n</Pattern> -->
                <Pattern>[%-5level] %date{ISO8601}{UTC}Z [%t] %c{2} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>